body {
	font-family: "Calibri";
	overflow: hidden;
	padding-left: 4pt;
	padding-right: 60pt;
}

a, div.a {
	text-decoration: none;
	cursor: pointer;
}

body > div, div#mainContent > div, div#mainContent > textarea {
	padding-bottom: 10pt;
}

input, textarea, select {
	border: 1px solid rgb(80, 60, 160);
	border-radius: 4pt;
	padding: 0pt 4pt 1pt 4pt;
	font-family: "Calibri";
	font-size: 1em;
}

iframe {
	width: 100%;
	height: 100%;
}

div#mainContent {
	overflow-y: scroll;
	overflow-x: hidden;
}

div#mainContent, div.scrollable {
	scrollbar-color: #402 #102;
	position: relative;
}

span.button, a.button {
	padding: 0pt 4pt;
	border-radius: 5pt;
	background: rgba(150, 200, 250, 0.2);
	cursor: pointer;
	text-align: center;
}

span.button.bigger {
	font-size: 110%;
}

span.button.highviz {
	background: rgba(0, 20, 50, 0.8);
}

div.buttonBar > span.button, div.buttonBar > div#more-actions-container > span.button,
div.buttonBar > a.button, div.buttonBar > div#more-actions-container > a.button {
	padding: 2pt 10pt;
	border-radius: 5pt;
	margin: 0pt 4pt;
}

span.button:hover, a.button:hover {
	background: rgba(150, 200, 250, 0.5);
}

span.button.unchecked {
	background: none;
	border: 1px solid rgba(150, 200, 250, 0.5);
}

span.button.checked {
	background: rgba(150, 200, 250, 0.6);
}

span.button.activeInBackground {
	background: #406;
	opacity: 0.5;
}

div.line:hover {
	background: rgba(255, 0, 255, 0.19);
	border-radius: 4pt;
}

div.line.opened {
	background: rgba(255, 0, 255, 0.3);
	color: #ECF;
	border-radius: 4pt;
}

div.line.opened:hover {
	background: rgba(255, 0, 255, 0.5);
}

div.line > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

div.line.folder {
	font-weight: bold;
}

div.line.link {
	font-style: italic;
}

div.line.entry {
	/* just default styling */
}

div.line.text {
	/* just default styling */
}

div#fileContentContainer {
	overflow-x: hidden;
}

div#fileContentContainer, textarea#fileContentTextarea, div.imageStrip {
	overflow-y: auto;
	height: 90%;
}

textarea#fileContentTextarea {
	width: 71%;
}

textarea#folderTextarea {
	height: 96%;
	float: left;
	overflow: auto scroll;
	margin-right: 1%;
}

div#fileContentContainer a, div#fileContentContainer span.a, div#crossRefResultArea > a {
	font-style: italic;
	cursor: pointer;
}

div#fileButtonContainer > a {
	font-style: normal;
}

div#fileContentContainer h1, div#fileContentContainer h2 {
	font-weight: bold;
	padding: 0;
	margin: 0;
	display: inline;
}

div#fileContentContainer h1 {
	font-size: 120%;
}

div#fileContentContainer h2 {
	font-size: 110%;
}

div#fileContentContainer span.headSection {
	font-weight: bold;
	text-decoration: underline;
}

div#fileContentContainer > div.warning_outer {
	border: 2px solid #FFBF00;
	margin-bottom: 8pt;
}

div#fileContentContainer > div.warning_outer > div.warning {
	background: #FFBF00;
	color: #000;
	padding: 5pt 10pt;
	border: 2px solid #000;
}

span.spoiled, div.spoiled {
	background-color: #408;
	color: #408;
	cursor: pointer;
}

span.spoiled:hover, div.spoiled:hover, span.notspoiled:hover, div.notspoiled:hover {
	background-color: #204;
}

span.spoiled:hover, div.spoiled:hover {
	color: #204;
}

div.imageStrip {
	width: 15%;
	float: right;
}

div.imageStrip > a {
	width: 99%;
}

div.imageStrip > a > img {
	width: 100%;
}

div.imageStripColumn {
	width: 24.5%;
	float: left;
	height: unset;
	margin-left: 0.225%;
	margin-right: 0.225%;
}

a.sidebar, div.sidebar, div.projectbar {
	position: absolute;
	right: 10pt;
	width: 50pt;
	cursor: pointer;
}

a.sidebar > img.avatar, div.sidebar > img.avatar {
	position: relative;
	width: 100%;
	border-radius: 5pt;
	left: 0;
	top: 0;
}

img.avatar:hover {
	filter: brightness(135%);
}

span.vertAligner {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

div.footer {
	height: 200pt;
}

div.projectbar {
	bottom: 10pt;
}

div.projectbar > a {
	border: 3pt solid black;
	border-radius: 5pt;
	text-align: center;
	height: 30pt;
	display: inline-block;
	text-decoration: none;
}

span.sup {
	font-size: 80%;
	vertical-align: top;
}

span.awesome {
	color: #20CC00;
}

span.warning {
	color: #D4B430;
}

span.error {
	color: #FF4020;
}

div.projectbar > a, div.projectbar > a > img {
	width: 100%;
}

div.projectbar > a {
	margin-top: 5pt;
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));
}

div.projectbar > a:hover {
	background: rgba(255, 255, 255, 1);
}

div.projectbar > a > img {
	max-height: 80%;
	max-width: 80%;
	vertical-align: middle;
}

div.company_outer {
	border-radius: 10pt;
	background: rgba(255, 255, 255, 0.1);
	padding: 10pt;
	margin: 10pt 20pt 15pt 8pt;
	text-align: center;
	position: relative;
}

div.company_outer > img.logo {
	width: 100pt;
	position: absolute;
	top: 44pt;
	right: -43pt;
	transform: rotate(90deg);
	background: radial-gradient(rgba(255, 255, 255, 0.9), rgba(205, 225, 255, 0.8), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0));
	border-radius: 10pt;
	padding: 10pt 20pt;
}

div.funtubeOtherVideosContainer {
	color: #111;
	top: 9pt;
	right: 68pt;
	bottom: 1pt;
	width: 30%;
	position: absolute;
	font-size: 12pt;
	overflow-y: scroll;
	padding-right: 19pt;
}

div.funtubeOtherVideosContainer > a {
	color: #111;
	display: block;
	margin-bottom: 5pt;
}

div.funtubeOtherVideosContainer > a > div {
	display: inline-block;
	vertical-align: middle;
}

div.funtube_vid_title {
	width: 62%;
	padding-left: 5pt;
}

div.funtube_img_container {
	height: 63pt;
	width: 35%;
	padding: 0;
	background: #000;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}

span.vertical_center_helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

div.funtube_img_container > img {
	vertical-align: middle;
	max-height: 63pt;
	max-width: 100%;
}

div.category_title {
	color: #000;
	font-weight: bold;
	padding-bottom: 4pt;
	padding-top: 9pt;
}

div.category {
	padding-left: 9pt;
}

div.category > a {
	color: #000;
}

div.category > a:hover {
	color: #8000A0;
	background: #EEDDFF;
}

div#more-actions-container, div#text-actions-container {
	position:fixed;
	bottom: 72pt;
	border-radius: 9pt;
	text-align: center;
	line-height: 2;
	padding: 5pt;
}

div#text-actions-container {
	left: 39.5%;
}

div#more-actions-container {
	left: 49.1%;
}

div.quote {
	padding-left: 25pt;
	padding-right: 25pt;
	font-style: italic;
	opacity: 0.6;
}

div.modal {
	position: fixed;
	z-index: 2000;
	display: none;
	top: 200pt;
	left: 100pt;
	right: 100pt;
	border-radius: 16pt;
	background: linear-gradient(15deg, rgb(60, 20, 50), rgb(40, 0, 80), rgb(60, 20, 50));
	padding: 15pt;
	opacity: 0.95;
}

span.editBtnDisabled {
	opacity: 0.5;
}

span.inlinecodeblock, div.inlinecodeblock {
	border-radius: 3pt;
	padding: 1pt 4pt 1pt 4pt;
	white-space: nowrap;
	font-family: "Courier New";
	font-size: 95%;
	background: rgba(255, 180, 255, 0.15);
	color: #CBD;
}

div.selected {
	background-color: rgba(100, 0, 180, 0.8);
}

div.nonselected {
	background-color: rgba(0, 0, 0, 0.3);
}

div.selected, div.nonselected {
	border: 1px solid rgba(100, 0, 180, 0.8);
}

span.entry_warning_button {
	border-radius: 6pt;
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	padding: 0 4pt;
}

span.entry_warning_button:hover {
	background-color: rgba(0, 0, 0, 0);
}
